﻿@model CardBuildWebApp.ViewModels.MerchandiseAlternativeViewModel

<div id="@string.Format("{0}_alternative", Model.PlayerIndex)" class="panel panel-primary">
    <div class="panel-heading">Surowce do wyboru</div>
    @Html.HiddenFor(model => model.IsInEditMode)
    @Html.HiddenFor(model => model.PlayerIndex)
    <div class="panel-body">
        <div class="well">
            @{
                int alternativesCount = Model.ChosenItems.Count;
                for (int i = 0; i < alternativesCount; i++)
                {
                    @Html.HiddenFor(model => model.ChosenItems[i])
                    @Html.DisplayFor(model => model.ChosenItems[i], "MerchandiseAlternativeImage")
                }
            }
        </div>
        @Ajax.ActionLink("Wylosuj", "SetRandomAlternativeForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.PlayerIndex}},
            new AjaxOptions
            {
                UpdateTargetId = string.Format("{0}_alternative", Model.PlayerIndex),
                InsertionMode = InsertionMode.ReplaceWith,
                HttpMethod = "Post",
                Url = Url.Action("SetRandomAlternativeForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.PlayerIndex}})
            }, new {@class = "btn btn-default"})
    </div>
</div>