﻿@model CardBuildWebApp.ViewModels.BoardViewModel

<div id="@string.Format("{0}_board", Model.PlayerIndex)" class="panel panel-primary">
    <div class="panel-heading">Plansza gracza</div>
    @* thanks to Url parameter the request will be performed synchronously (full page reload) if Javascript is disabled *@
    @using (Ajax.BeginForm("SetBoardForPlayer", "Home", new AjaxOptions
    {
        UpdateTargetId = string.Format("{0}_board", Model.PlayerIndex),
        HttpMethod = "Post",
        InsertionMode = InsertionMode.ReplaceWith,
        Url = Url.Action("SetBoardForPlayer", "Home")
    },
        new {@class = "form-group"}))
    {
        @Html.HiddenFor(model => model.IsInEditMode)
        @Html.HiddenFor(model => model.PlayerIndex)
        <div class="panel-body">
            <div class="well">
                @Html.HiddenFor(model => model.PlayerBoard)
                @Html.DisplayFor(model => model.PlayerBoard)
            </div>
            @Html.DropDownListFor(model => model.NewPlayerBoard, Model.AvailableAsSelectItems, new {@class = "form-control"})
            <button type="submit" class="btn btn-default">Ustaw</button>
            @Ajax.ActionLink("Wylosuj", "SetRandomBoardForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.PlayerIndex}},
                new AjaxOptions
                {
                    UpdateTargetId = string.Format("{0}_board", Model.PlayerIndex),
                    InsertionMode = InsertionMode.ReplaceWith,
                    HttpMethod = "Post",
                    Url = Url.Action("SetRandomBoardForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.PlayerIndex}})
                }, new {@class = "btn btn-default"})
        </div>
    }
</div>