﻿@model CardBuildWebApp.ViewModels.BoardViewModel

<div id="@string.Format("{0}_board", Model.PlayerIndex)" class="panel panel-primary">
    @Html.HiddenFor(model => model.IsInEditMode)
    @Html.HiddenFor(model => model.PlayerIndex)
    <div class="panel-heading">Plansza gracza</div>
    <div class="panel-body">
        <div class="well">
            @Html.HiddenFor(model => model.PlayerBoard)
            @Html.DisplayFor(model => model.PlayerBoard)
        </div>
        @Ajax.ActionLink("Wylosuj", "SetRandomBoardForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.PlayerIndex}},
            new AjaxOptions
            {
                UpdateTargetId = string.Format("{0}_board", Model.PlayerIndex),
                InsertionMode = InsertionMode.ReplaceWith,
                HttpMethod = "Post",
                Url = Url.Action("SetRandomBoardForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.PlayerIndex}})
            }, new {@class = "btn btn-default"})
    </div>
</div>