﻿@model CardBuildWebApp.ViewModels.MerchandiseViewModel

<div id="@string.Format("{0}_merchandise", Model.PlayerIndex)" class="panel panel-primary">
    @Html.HiddenFor(model => model.IsInEditMode)
    @Html.HiddenFor(model => model.PlayerIndex)
    <div class="panel-heading">Produkowane surowce</div>
    <div class="panel-body">
        <div class="well">
            @{
                int merchandisesCount = Model.ChosenItems.Count;
                for (int i = 0; i < merchandisesCount; i++)
                {
                    @Html.HiddenFor(model => model.ChosenItems[i])
                    @Html.DisplayFor(model => model.ChosenItems[i], "MerchandiseImage")
                }
            }
        </div>
        @Ajax.ActionLink("Wylosuj", "SetRandomMerchandiseForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.PlayerIndex}},
            new AjaxOptions
            {
                UpdateTargetId = string.Format("{0}_merchandise", Model.PlayerIndex),
                InsertionMode = InsertionMode.ReplaceWith,
                HttpMethod = "Post",
                Url = Url.Action("SetRandomMerchandiseForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.PlayerIndex}})
            }, new {@class = "btn btn-default"})
    </div>
</div>