﻿@using ExtensionMethods
@model CardBuildWebApp.ViewModels.PlayerViewModel

<div class="col-md-4" id="@string.Format("{0}_playerTotal", Model.Index)">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsInEditMode)
    @Html.HiddenFor(model => model.Index)
    @Html.LabelFor(model => model.Name, new {@class = "control-label"})
    @Html.EditorFor(model => model.Name) <br/>
    @Html.ValidationMessageFor(model => model.Name)

    @Html.PartialFor(model => model.Board, "_BoardViewPartial")

    <div class="form-group">
        @Html.LabelFor(model => model.Coins)
        @Html.EditorFor(model => model.Coins) <br/>
        @Html.ValidationMessageFor(model => model.Coins)
        @Ajax.ActionLink("Wylosuj", "SetRandomCoinsForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.Index}},
            new AjaxOptions
            {
                UpdateTargetId = string.Format("{0}_playerTotal", Model.Index),
                InsertionMode = InsertionMode.ReplaceWith,
                HttpMethod = "Post",
                Url = Url.Action("SetRandomCoinsForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.Index}})
            }, new {@class = "btn btn-default"})
    </div>

    @Html.PartialFor(model => model.Merchandises, "_MerchandisesViewPartial")
    @Html.PartialFor(model => model.Alternatives, "_AlternativesViewPartial")
    @Html.PartialFor(model => model.Bonuses, "_TradeBonusesViewPartial")
</div>