﻿@model CardBuildWebApp.ViewModels.PlayerViewModel

<div class="col-md-4" id="@string.Format("{0}_playerTotal", Model.Index)">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsInEditMode)
    @Html.HiddenFor(model => model.Index)
    @Html.LabelFor(model => model.Name, new {@class = "control-label"})
    @Html.EditorFor(model => model.Name) <br/>
    @Html.ValidationMessageFor(model => model.Name)
    @Html.Partial("_BoardViewPartial_Edit", Model.Board)

    <div class="form-group">
        @Html.LabelFor(model => model.Coins)
        @Html.EditorFor(model => model.Coins) <br/>
        @Html.ValidationMessageFor(model => model.Coins)
        @Ajax.ActionLink("Wylosuj", "SetRandomCoinsForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.Index}},
            new AjaxOptions
            {
                UpdateTargetId = string.Format("{0}_playerTotal", Model.Index),
                InsertionMode = InsertionMode.ReplaceWith,
                HttpMethod = "Post",
                Url = Url.Action("SetRandomCoinsForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.Index}})
            }, new {@class = "btn btn-default"})
    </div>

    @Html.Partial("_MerchandisesViewPartial_Edit", Model.Merchandises)
    @Html.Partial("_AlternativesViewPartial_Edit", Model.Alternatives)
    @Html.Partial("_TradeBonusesViewPartial_Edit", Model.Bonuses)
</div>