﻿@using CardBuildWebApp.CardBuildServiceRef
@model CardBuildWebApp.ViewModels.RequiredMerchandiseViewModel

<div id="required-merchandises" class="jumbotron center-block">
    @switch (Model.BuildPossibility)
    {
        case BuildPossibilityType.TRADE:
            <h2>Istnieje możliwość handlu.</h2>
            break;
        case BuildPossibilityType.IMPOSSIBLE:
            <h2>Niestety, ale nie istnieje możliwość zdobycia podanych surowców.</h2>
            break;
        case BuildPossibilityType.OK_BUILDINGS:
        case BuildPossibilityType.OK_MERCHANDISE:
            <h2>Surowce są dostępne!</h2>
            break;
        default:
            break;
    }
    <br/>
    @Html.HiddenFor(model => model.IsInEditMode)
    <p>Wymagane materiały:</p>
    @{
        int merchandisesCount = Model.ChosenItems.Count;
        for (int i = 0; i < merchandisesCount; i++)
        {
            @Html.HiddenFor(model => model.ChosenItems[i])
            @Html.DisplayFor(model => model.ChosenItems[i], "MerchandiseImage")
        }
    }
</div>