﻿@model CardBuildWebApp.ViewModels.RequiredMerchandiseViewModel

<div id="required-merchandises" class="jumbotron center-block">
    @using (Ajax.BeginForm("AddRequiredMerchandise", "Home", new AjaxOptions
    {
        UpdateTargetId = "required-merchandises",
        HttpMethod = "Post",
        InsertionMode = InsertionMode.ReplaceWith,
        Url = Url.Action("AddRequiredMerchandise", "Home")
    },
        new {@class = "form-group"}))
    {
        @Html.HiddenFor(model => model.IsInEditMode)
        <p>Wymagane materiały:</p>
        int merchandisesCount = Model.ChosenItems.Count;
        for (int i = 0; i < merchandisesCount; i++)
        {
            @Html.HiddenFor(model => model.ChosenItems[i])
            @Html.DisplayFor(model => model.ChosenItems[i], "MerchandiseImage")
        }
        <br/>
        @Html.DropDownListFor(model => model.ItemToAdd, Model.AvailableAsSelectItems, new {@class = "form-control"})
        <button type="submit" class="btn btn-default">Dodaj</button>
    }
    <br/>
    @using (Ajax.BeginForm("GetMerchandiseForCard", "Home", new AjaxOptions
    {
        UpdateTargetId = "required-merchandises",
        HttpMethod = "Post",
        InsertionMode = InsertionMode.ReplaceWith,
        Url = Url.Action("GetMerchandiseForCard", "Home")
    },
        new {id = "card-picker-form", @class = "form-group"}))
    {
        @Html.HiddenFor(model => model.IsInEditMode)
        @Html.LabelFor(model => model.CardName)
        @Html.TextBoxFor(model => model.CardName, new {id = "card-picker", @class = "form-control", placeholder = "Wpisz pierwszą literę, np. A"})
        @Html.ValidationMessageFor(model => model.CardName)
        <p id="card-picker-error"/>
        <br/>
        <button class="btn btn-default" type="button" onclick="submitPickedCard()">Pobierz koszt karty</button>
    }
</div>

<script type="text/javascript">
    var cardNames = null;
    $(document)
        .ready(function() {
            $.ajax("Home/DownloadCards",
            {
                dataType: "json",
                success: function(data, textStatus, jqXHR) {
                    cardNames = data;
                    setAutocomplete();
                },
                error: function() {
                    $("#card-picker-error").text("Wystąpił błąd podczas pobierania kart");
                }
            })
        })

    function setAutocomplete() {
        $("#card-picker")
            .autocomplete({
                source: function(req, responseFn) {
                    var escaped = $.ui.autocomplete.escapeRegex(req.term);
                    var matcher = new RegExp("^" + escaped, "i");
// match only starting with a phrase + case-insensitive
                    var found = $.grep(cardNames,
                        function(item, index) {
                            return matcher.test(item);
                        });
                    responseFn(found);
                },
                minLength: 1,
                select: function(event, ui) {
                    if (ui.item) {
                        $("#card-picker").val(ui.item.value);
                    }
                }
            });
    }

    function submitPickedCard() {
        var isValid = isValidCardName($("#card-picker").valueOf());
        if (isValid) {
            $("#card-picker-form").submit();
        } else {
            $("#card-picker-error").text("Niepoprawna nazwa karty");
        }
    }

    function isValidCardName(cardNameEntered) {
        var cardNamesLowerCase = cardNames;
        $.each(cardNamesLowerCase,
            function(index, name) {
                cardNamesLowerCase[index] = $
                    .trim(name)
                    .toLowerCase()
                    .replace(/  +/g, ' '); // trim + all names to lower case + replace multiple spaces with one space
            });
        var isValid = $.inArray(cardNameEntered, cardNamesLowerCase);
        return isValid;
    }
</script>