﻿@model CardBuildWebApp.ViewModels.TradeBonusViewModel

<div id="@string.Format("{0}_bonuses", Model.PlayerIndex)" class="panel panel-primary">
    <div class="panel-heading">Bonusy handlowe</div>
    @using (Ajax.BeginForm("AddTradeBonusToPlayer", "Home", new AjaxOptions
    {
        UpdateTargetId = string.Format("{0}_bonuses", Model.PlayerIndex),
        InsertionMode = InsertionMode.ReplaceWith,
        HttpMethod = "Post",
        Url = Url.Action("AddTradeBonusToPlayer", "Home")
    }))
    {
        @Html.HiddenFor(model => model.IsInEditMode)
        @Html.HiddenFor(model => model.PlayerIndex)
        <div class="panel-body">
            <div class="well">
                @{
                    int bonusesCount = Model.ChosenItems.Count;
                    for (int i = 0; i < bonusesCount; i++)
                    {
                        @Html.HiddenFor(model => model.ChosenItems[i])
                        @Html.DisplayFor(model => model.ChosenItems[i])
                        if (i + 1 < bonusesCount)
                        {
                            <br/>
                        }
                    }
                }
            </div>
            @Html.DropDownListFor(model => model.ItemToAdd, Model.AvailableAsSelectItems, new {@class = "form-control"})
            <button type="submit" class="btn btn-default">Dodaj</button>
            @Ajax.ActionLink("Wylosuj", "SetRandomTradeBonusForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.PlayerIndex}},
                new AjaxOptions
                {
                    UpdateTargetId = string.Format("{0}_bonuses", Model.PlayerIndex),
                    InsertionMode = InsertionMode.ReplaceWith,
                    HttpMethod = "Post",
                    Url = Url.Action("SetRandomTradeBonusForPlayer", "Home", new RouteValueDictionary {{"playerIndex", Model.PlayerIndex}})
                }, new {@class = "btn btn-default"})
        </div>
    }
</div>