﻿@using ExtensionMethods
@model CardBuildWebApp.ViewModels.TotalViewModel

@{
    ViewBag.Title = "Strona główna";
}

<div id="content">
    @using (Ajax.BeginForm("CheckBuildPossibility", "Home", new AjaxOptions
    {
        UpdateTargetId = "content",
        InsertionMode = InsertionMode.ReplaceWith,
        HttpMethod = "Post",
        Url = Url.Action("CheckBuildPossibility", "Home")
    }))
    {
        @Html.HiddenFor(model => model.IsInEditMode)
        @Html.PartialFor(model => model.RequiredMerchandises, "_RequiredMerchandisesViewPartial")
        @Ajax.ActionLink("Przejdź w tryb edycji", "SetEditModeTotal", "Home",
            new RouteValueDictionary {{"isEditMode", true}}, new AjaxOptions
            {
                UpdateTargetId = "content",
                InsertionMode = InsertionMode.ReplaceWith,
                HttpMethod = "Post",
                Url = Url.Action("SetEditModeTotal", "Home", new RouteValueDictionary {{"isEditMode", true}})
            }, new {@class = "btn btn-default"})
        <button class="btn btn-primary" type="submit">Sprawdź dostępność</button>
        <br/>
        <br/>
        <div class="row">
            @{
                @*
                    it's IMPORTANT for model binding to generate partial views with "for (int i ...)"
                    rather than foreach (player in ...) - because of using PartialFor

                    It adds the "prefix" for paths to properties in ViewData.TemplateInfo.HtmlFieldPrefix, so that
                    the "name" attributes for input elements are generated like "Players[0].Board" and not just plain "Board",
                    because then the model binder can't find out where this "Board" belongs to.
                *@
                int playersCount = Model.Players.Count;
                for (int i = 0; i < playersCount; i++)
                {
                    @Html.PartialFor(model => Model.Players[i], "_PlayerViewPartial")
                }
            }
        </div>
    }
</div>