﻿@model CardBuildWebApp.ViewModels.TotalViewModel

@{
    ViewBag.Title = "Strona główna";
}

<div id="content">
    @Html.HiddenFor(model => model.IsInEditMode)
    @Html.Partial("_RequiredMerchandisesViewPartial_Edit", Model.RequiredMerchandises)
    @Ajax.ActionLink("Wyjdź z trybu edycji", "SetEditModeTotal", "Home",
        new RouteValueDictionary {{"isEditMode", false}}, new AjaxOptions
        {
            UpdateTargetId = "content",
            InsertionMode = InsertionMode.ReplaceWith,
            HttpMethod = "Post",
            Url = Url.Action("SetEditModeTotal", "Home", new RouteValueDictionary {{"isEditMode", false}})
        }, new {@class = "btn btn-default"})
    <br/><br/>
    <div class="row">
        @{
            int playersCount = Model.Players.Count;
            for (int i = 0; i < playersCount; i++)
            {
                @Html.Partial("_PlayerViewPartial_Edit", Model.Players[i])
            }
        }
    </div>
</div>