﻿@model CardBuildWebApp.Models.MerchandiseAlternative

<div class="row">
    @{
        int merchandiseCount = Model.Merchandise.Count();
        for (int i = 0; i < merchandiseCount; i++)
        {
            @Html.DisplayFor(Model => Model.Merchandise[i], "MerchandiseImage")
            if (i < merchandiseCount - 1)
            {
                <img src="~/img/slash.png" alt="ukośnik" height="50"/>
            }
        }
    }
</div>